body {
    width: 100%;
    height: auto;
    padding: 4px;
}

.listing {

    border: 1px 1px black solid;
}

.blockbody {
    width: 100%;
    height: auto;
    padding: 10px;
}

.titlebrand {
    font-family: 'Lobster', cursive;
    
}

#cardtile {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 15px black;
    margin-top: 20px;
}