body {
    width: 100%;
    height: auto;
    padding: 4px;
}

.listing {

    border: 1px 1px black solid;
}

.blockbody {
    width: 100%;
    height: auto;
    padding: 10px;
}

.titlebrand {
    font-family: 'Lobster', cursive;
    
}

#cardtile {
    width: 25%;
    height: auto;
}