{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        <div class="messages m-4">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}">{% endif %}{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if auction.closed %}
    <div class="alert alert-info" role="alert">
        Auction closed
    </div>
        {% if auction.bid.last.user.username %}
        <strong>Winner: </strong>{{ auction.bid.last.user.username }}
        {% else %}
        <strong>No body win this auction. </strong>
        {% endif %}
    {% endif %}
    <h2  style="text-align: center; margin:20px">{{ auction.title_item }}</h2>
        <tr>
            <td style="width:40px">
                <img src="{{ auction.image_URL }}" alt="img" style="width:25%">
            </td>
            <td>
                <div>{{ auction.description_item }}</div>
                {% if auction.bid.last %}
                    <div><strong>Bid : {{ auction.bid.last.bid }}$</strong></div>
                    <div>Best bid by : {{ auction.bid.last.user.username }}</div>
                {% else %}
                    <div>No bid again, let's be the first to bid.</div>
                {% endif %}
                <div>Start price : {{ auction.start_price }}$</div>
                <div>Duration : {{ auction.durations }} days</div>
            </td>
        </tr>
        {% if user.username != auction.user.username and not auction.closed %}
        <form action="{% url 'auction' auction.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ formBid }}
            <input type="submit" value="Bid" class="btn btn-primary">
        </form>
        <form action="{% url 'auction' auction.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-primary" value="Watchlist">Add in your watchlist</button>
        </form>
        {% endif %}
        {% if user.username == auction.user.username and not auction.closed %}
            <form action="{% url 'auction' auction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="button" class="btn btn-danger" value="Close">Close auction</button>
            </form>        
        {% endif %}
        <tr>
            <td>
                <div><small>Listed by: {{ auction.user }}</small></div>
                <div><small>Published {{ auction.time }}</small></div>
            </td>
        </tr>
        {% if user.username != auction.user.username %}
        <form action="{% url 'auction' auction.id %}" method="POST">
            {% csrf_token %}
            {{ commitForm }}
            <button type="submit" name="button" class="btn btn-primary" value="Comment">Add comment</button>
        </form>
        {% endif %}
        {% for comment in auction.comments.all %}
        <div class="box " style="max-width: 30%; box-shadow: 0px 10px 15px black; margin-left: 15%;">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ comment.user }}</strong> <small>@{{ comment.user }}</small>
                    <br>
                    {{ comment.comment }}
                  </p>
                  <small>{{comment.time}}</small>
                </div>
              </div>
            </article>
          </div>
        {% endfor %}
        
    
{% endblock %}