{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        <div class="messages m-4">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}">{% endif %}{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if auction.closed %}
    <div class="alert alert-info" role="alert">
        Auction closed
    </div>
        {% if auction.bid.last.user.username %}
        <strong>Winner: </strong>{{ auction.bid.last.user.username }}
        {% else %}
        <strong>No body win this auction. </strong>
        {% endif %}
    {% endif %}
    <h2 style="text-align: center; margin:20px">{{ auction.title_item }}</h2>
        <div style="text-align: center; margin:20px">
        <tr>
            <td style="width:40px">
                <img src="{{ auction.image_URL }}" alt="img" style="max-height: 600px;">
            </td>
            <td>
                <div>{{ auction.description_item }}</div>
                {% if auction.bid.last %}
                    <div><strong>Bid : {{ auction.bid.last.bid }}$</strong></div>
                    <div>Best bid by : {{ auction.bid.last.user.username }}</div>
                {% else %}
                    <div>No bid again, let's be the first to bid.</div>
                {% endif %}
                <div>Start price : {{ auction.start_price }}$</div>
                <div>Duration : {{ auction.durations }} days</div>
            </td>
        </tr>
        {% if user.username != auction.user.username and not auction.closed %}
        <form action="{% url 'auction' auction.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ formBid }}
            <input type="submit" value="Bid" class="btn btn-primary">
        </form>
        <form action="{% url 'auction' auction.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-primary" value="Watchlist">Add in your watchlist</button>
        </form>
        {% endif %}
        {% if user.username == auction.user.username and not auction.closed %}
            <form action="{% url 'auction' auction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="button" class="btn btn-danger" value="Close">Close auction</button>
            </form>        
        {% endif %}
        </div>
        <tr>
            <td>
                <div><small>Listed by: {{ auction.user }}</small></div>
                <div><small>Published {{ auction.time }}</small></div>
            </td>
        </tr>
        
        {% for comment in auction.comments.all %}
        <hr style="margin-left:30%; margin-right: 30%;">
        <div style="margin-left:31%; margin-right: 30%;">
        
          <article class="media">
            <div class="media-content">
                <div class="content">
                <p>
                    <strong>{{ comment.user }}</strong> <small>@{{ comment.user }}</small>
                    <br>
                    {{ comment.comment }}
                    <br>
                    <small>{{comment.time}}</small>
                </p>
                </div>
            </div>
            </article>
        </div>
        
        
        {% endfor %}
        {% if user.username != auction.user.username %}
        
        <div style="margin-left:30%; margin-right: 30%;">
        <hr>
        <article class="media">
            <div class="media-content">
            <form action="{% url 'auction' auction.id %}" method="POST">
            {% csrf_token %}
                <div class="field">
                <p class="control">
                    <textarea class="textarea"  name="comment" maxlength="512" required id="id_comment" placeholder="Add a comment..."></textarea>
                </p>
                </div>
                <div class="field">
                <p class="control">
                    <button type="submit" name="button" class="btn btn-primary" value="Comment">Post comment</button>
                </p>
                </div>
            </form>
            </div>
            </article>
            </div>
        {% endif %}
    
{% endblock %}