{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for auction in all_auctions %}
            <tr>
                <td style="width:40px">
                    <img src="{{ auction.image_URL }}" alt="img" style="width:80%">
                </td>
                <td>
                    <h5><a href="{% url 'auction' auction.id %}">{{ auction.title_item }}</a></h5>
                    <div>{{ auction.description_item }}</div>
                    <div>Bid: ${{ auction.start_price }}</div>
                    <div>Liste by: {{ auction.user }}</div>
                </td>
            </tr>

        {% empty %}
            <li>No active auctions</li>
        {% endfor %}
    </ul>
{% endblock %}