{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align: center; margin:20px">Active Listings</h2>
    {% if messages %}
        <div class="messages m-4">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}">{% endif %}{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
        <div class="row row-cols-3">
          
        {% for auction in all_auctions %}
        <div class="col" style="margin-top:10px; display:flex; align-items: center;">
        
        <div class="card" id="cardtile">
            <div class="card-image pt-3">
              <figure class="image">
                <img src="{{ auction.image_URL }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <p class="title is-4"><a href="{% url 'auction' auction.id %}">{{ auction.title_item }}</a></p>
                  <p class="subtitle is-3">
                    {% if auction.bid.last %}
                        Bid : {{ auction.bid.last.bid }}$
                    {% else %}
                        <div>No bid again, let's be the first to bid.</div>
                        Start price : {{ auction.start_price }}$
                    {% endif %}</p>
                </div>
              </div>
              <div class="content">
                <p>{{ auction.description_item }} <a href="#">#{{ auction.title_item}}</a></p>
                
                Listed by <a>@{{auction.user}}</a>.
                
                <br>
                <time datetime="2016-1-1">{{ auction.time }}</time>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
            No active auctions
        {% endfor %}
        
      </div>
    </div>

{% endblock %}